/************************************/
/* 				INITIALIZE			*/
/************************************/

h1, h2, h3,p {margin:0;
			padding:0;}


/************************************/
/* 				GLOBAL				*/
/************************************/	

/***************BODY*****************/
body{
	background: white url(images/background.jpg) no-repeat center center;
	background-attachment:fixed;
	background-size:cover;
	}

/****************Titre H1******************/
h1{color:#2C218C;
	text-align:right;

	margin-left:0px;
	margin-right:0px;
	margin-top:40px;
	margin-bottom:20px;

	padding-top:40px;
	padding-bottom:40px;
	padding-right:40px;

	font-size:70px;
	font-family: 'Gloria Hallelujah', cursive;

	background-color:white;
	background:url(images/bandeau.jpg) no-repeat center center;
	background-size:cover;
	} 

	/*mobiles*/
@media (max-width:320px) {  
  	h1 {margin-top:20px;
		margin-bottom:20px;
		padding-top:20px;
		padding-bottom:20px;
		padding-right:20px;
		font-size:30px;
		background-color:white; 
  	}
}

	/*tablettes*/
@media (min-width:321px) and (max-width:959px) {
	h1	{margin-top:30px;
		margin-bottom:20px;
		padding-top:10px;
		padding-bottom:10px;
		padding-right:30px;
		font-size:40px;
		background-color:white;
		background:url(images/bandeau2.jpg) no-repeat center center;
		background-size:cover;
	}
} 

/****************Titre H2******************/

h2{color:#216AFF;
	font-size:25px;
	font-family: 'Delius Swash Caps', cursive;
	margin:10px;
	text-align:center;
	background-color:white;
	}

/****************Titre H3******************/

h3 {font-family: 'Alike', serif;
	margin:20px;
	color: #08115E;
	font-size:20px;}

@media (max-width:768px) {
	h3{font-size:15px;
		margin:10px;
		padding:0px;} 
}


/****************Paragraphes******************/


p { font-size:20px;
	text-align:justify;
	font-family: 'Alike', serif;
	margin-top:20px;
	margin-bottom:20px;
	padding-left:60px;
	padding-right:60px;}

.texteprincipal{	
	padding-left:60px;
	padding-right:60px;
	margin-top:140px;
	margin-bottom: 40px;}

#texteprincipal2 {margin-top:50px;}

	/*mobiles*/
@media (max-width:768px) {
	p{font-size:15px;
		margin:10px;
		padding:0px;} 
	.texteprincipal{	
	padding:0px;
	margin:10px;}
}

@media (min-width:768px) and (max-width:992px) {
	p{font-size:15px;
	  	margin:0px;
		padding: 20px;} } 
}

/****************Images******************/

img {border:1px solid #08115E;
	margin-top:10px;
	margin-bottom: 10px;
	}	
	
@media (max-width:768px) { 
	img{margin:10px;
		padding:0px;}
}


/************************************/
/* 				HEADER				*/
/************************************/	

/****************Header******************/
header{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 10000;
	overflow: hidden;}

/****************Barre de navigation******************/
nav {height:50px;
	background-color:#08115E;}

nav ul{
    list-style-type: none;
    margin-top: 5px;
	padding-top:0px;}

nav ul li{
	font-family: 'Gloria Hallelujah', cursive;
	display:inline;
	padding:2em;}

nav ul li a{
	text-decoration:none;
	font-size:20px;
	color:white;}

	/*mobiles*/
@media (max-width:320px) {  
  	nav {height:60px;}
  	nav ul{margin-top: 10px;}
	nav ul li{padding:0.5em;}
	nav ul li a{text-decoration:none;
				font-size:10px;
				color:white;}
}

	/*tablettes*/
@media (min-width:321px) and (max-width:959px) {
	nav ul li{display:inline;
			padding:0.5em;}

	nav ul li a{text-decoration:none;
			font-size:10px;
			color:white;}
} 

/************************************/
/* 				SECTIONS			*/
/************************************/	

/****************Description générale des sections******************/

section {height:1200px;
		display:block;}

/****************Section 1******************/

#section1 {height:1000px;}

#section1 p{margin-top:80px;
			padding:20px;
			background-color: rgba(150, 229, 255, 0.5);}

#section1{background:url(images/ntubg.jpg) no-repeat center center;
			background-size:cover;}

#section1 h1{background:none;
			font-size:80px;}

	/*mobiles*/
@media (max-width:320px) { 
	#section1 {height:800px;}
  	#section1 h1{background:none;
			font-size:30px;
			padding-top:40px;}

}

	/* tablette */
@media (min-width:321px) and (max-width:959px) { 
	#section1 h1{background:none;
			font-size:50px;}
}

/*************Autres sections***************/

#section2 {height:950px;}
#section3 {height:1200px;}
#section4 {height:1300px;}
#section5 {height:950px;}
#section6 {height:900px;}
#section7 {height:950px;}

	/*mobiles*/
@media (max-width:959px) { 
	#section2 {height:1100px;}
	#section3 {height:1900px;}
	#section4 {height:2050px;}
	#section5 {height:1050px;}
	#section6 {height:1000px;}
	#section7 {height:1500px;}
	}
}


/****************col-sm-3******************/

.col-sm-3 img {margin-left,margin-right:0px;
				padding-left,padding-right:0px;
				padding-bottom:20px;}	

.col-sm-2 h3 {margin-top:80px;
				padding:0px;
				margin-left,margin-right:0px;
				}

@media (max-width:768px) {
.col-sm-2 h3 {font-size:15px;
				margin:10px;
				padding:0px;} 
}

/*Autre*/

#blog{text-align:center;}