/************************************/
/* 				INITIALIZE			*/
/************************************/

h1, h2, h3,p {margin:0;
			padding:0;}


/************************************/
/* 				GLOBAL				*/
/************************************/	

/***************BODY*****************/
body{
	background: white url(images/background.jpg) no-repeat center center;
	background-attachment:fixed;
	background-size:cover;
	}

/****************Titre H1******************/
h1{color:#2C218C;
	text-align:right;

	margin-left:0px;
	margin-right:0px;
	margin-top:40px;
	margin-bottom:20px;

	padding-top:40px;
	padding-bottom:40px;
	padding-right:40px;

	font-size:70px;
	font-family: 'Gloria Hallelujah', cursive;

	background-color:white;
	background:url(images/bandeau.jpg) no-repeat center center;
	background-size:cover;
	} 

	/*mobiles*/
@media (max-width:320px) {  
  	h1 {margin-top:20px;
		margin-bottom:20px;
		padding-top:20px;
		padding-bottom:20px;
		padding-right:20px;
		font-size:30px;
		background:url(images/bandeau3.jpg) no-repeat center center;
		background-size:cover;
  	}
}

	/*tablettes*/
@media (min-width:321px) and (max-width:959px) {
	h1	{margin-top:30px;
		margin-bottom:20px;
		padding-top:10px;
		padding-bottom:10px;
		padding-right:30px;
		font-size:40px;
		background:url(images/bandeau2.jpg) no-repeat center center;
		background-size:cover;
	}
} 

/****************Titre H2******************/

h2{color:#216AFF;
	font-size:25px;
	font-family: 'Delius Swash Caps', cursive;
	margin:30px;
	text-align:center;
	background-color:white;
	}

/****************Titre H3******************/

h3 {font-family: 'Alike', serif;
	margin:20px;
	color: #08115E;
	font-size:20px;
	text-align:center;
	vertical-align:center;}

@media (max-width:768px) {
	h3{font-size:15px;
		margin:10px;
		padding:0px;} 
}


/****************Paragraphes******************/


p { font-size:17px;
	text-align:justify;
	font-family: 'Alike', serif;
	margin:0px;
	padding:0px;}


@media (max-width:768px) {
	p{font-size:15px;} 
}

@media (min-width:768px) and (max-width:992px) {
	p{font-size:15px;} 
}

/****************Images******************/

img {border:1px solid #08115E;
	margin:0px;
	padding:0px;
	}	
	
@media (max-width:768px) { 
	img{margin:10px;
		padding:0px;}
}


/************************************/
/* 				HEADER				*/
/************************************/	

/****************Header******************/
header{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 10000;
	overflow: hidden;}

/****************Barre de navigation******************/

#manavbarre {background-color:#08115E;}

#manavbarre a{
	text-decoration:none;
	font-size:20px;
	color:white;
	font-family: 'Gloria Hallelujah', cursive;}

#manavbarre div ul {background-color:#08115E;}

#manavbarre div ul li {background-color:#08115E;}

#manavbarre div ul li a{background-color:#08115E;}

@media (min-width:321px) and (max-width:959px) { 
	#manavbarre a{font-size:13px;}
}

/************************************/
/* 				SECTIONS			*/
/************************************/	

/****************Description générale des sections******************/

section {height:auto;
		display:block;}

/****************Section 1******************/

#section1 {height:1000px;}

#section1 p{margin-top:80px;
			padding:20px;
			background-color: rgba(150, 229, 255, 0.5);}

#section1{background:url(images/ntubg.jpg) no-repeat center center;
			background-size:cover;}

#section1 h1{background:none;
			font-size:80px;}

	/*mobiles*/
@media (max-width:320px) { 
	#section1 {height:800px;}
  	#section1 h1{background:none;
  			background-color:white;
			font-size:30px;
			padding-top:40px;}

}

	/* tablette */
@media (min-width:321px) and (max-width:959px) { 
	#section1 h1{background:none;
			font-size:50px;}
}


/************************************/
/* 				AUTRES				*/
/************************************/

.col-sm-4  	p{margin-left:0px;
				margin-right:0px;
				margin-top:120px;
				padding:0px;}
.col-sm-8 	p{margin-left:0px;
				margin-right:0px;
				margin-top:60px;
				padding:0px;}

.col-sm-6 .row .col-sm-6 img{ margin:10px;}
.col-sm-6 .row .col-sm-6 p{ margin:10px;
							padding-top:0px;
							padding-left: 0px;
							padding-right:0px;
							padding-top:40px;}

@media (max-width:959px) { 

.col-sm-4  	p{margin:5px;
				padding:0px;}
.col-sm-8 	p{margin:10px;
				padding:0px;}
.col-sm-6 .row .col-sm-6 p{ margin:7px;
							padding:0px;}
.col-sm-6 .row .col-sm-4 img{ margin:10px;
							display:block;
							margin-left:auto;
							margin-right:auto;}
}

#propos {margin:0px;
		padding:0px;}
#blog {text-align:center;
		margin:10px;}
#sociaux img{border:0px;
			display:block;
			margin-left:auto;
			margin-right:auto;
			}